<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Full">

    <test name="BASICS TEST">
        <classes>
            <class name="googleMapsAPI.GoogleMapsAPIPlusPOJO"/>
        </classes>
    </test> <!-- BASICS TEST -->
</suite> <!-- Suite -->
